<?xml version="1.0"?>

<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings/>
	<!--<connectionStrings>
		<add name="ConnectionStringDefault" providerName="System.Data.SqlClient" connectionString="Data Source=.; Integrated Security=True; Initial Catalog=TargetPoker"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="TargetPoker"
			 connectionString="Server=localhost; Database=TargetPoker; Uid=root; Pwd=root;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<machineKey/>
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True"/>
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>