/*======= index.html =======*/
#page1 .col-1 {width:307px; padding:0 0 0 13px;}
#page1 .col-2 {width:307px; padding:0 0 0 13px;}
#page1 .col-3 {width:307px; padding:0 0 0 13px;}

/*======= index-1.html =======*/     
#page2 .col-1 {width:630px; padding:0 0 0 13px;}
#page2 .col-2 {width:304px; padding:0 0 0 13px;}

/*======= index-2.html =======*/     
#page3 .col-1 {width:304px; padding:0 0 0 13px;}
#page3 .col-2 {width:627px; padding:0 0 0 16px;}

/*======= index-3.html =======*/     
#page4 .col-1 {width:944px; padding:0 0 0 16px;}

/*======= index-4.html =======*/     
#page5 .col-1 {width:630px; padding:0 0 0 13px;}
#page5 .col-2 {width:306px; padding:0 0 0 11px;}

/*======= index-5.html =======*/     
#page6 .col-1 {width:304px; padding:0 0 0 13px;}
#page6 .col-2 {width:627px; padding:0 0 0 16px;}